@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
  height: fit-content;
}

html {
  background-color: #fcfccf;
  min-height: 100vh;
  height: fit-content;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
